<div id="reviews">
   <% stars = product.get_stars %>
   <h2><%= link_to( "AVIS DES INTERNAUTES <span class='small'>(#{ pluralize(stars[1], 'Avis')})</span>", {:controller => 'reviews', :action => 'index', :id => product.id}) %><div class="alpha"></div></h2>

  <% for review in Review.approved.find_all_by_product_id(@product.id,:limit=>5) %>
    <%= render :partial => '/reviews/review', :locals => {:review => review} %>
  <% end %>


   <%= link_to(t('write_your_own_review'),  {:controller => 'reviews', :action => 'submit', :id => @product.id}, :class => 'write_comment') %>



</div>
