<div id="reviews">
  <%= render :partial => 'rating', :locals => {:product => product,:review=>review} %>
  <% for review in Review.approved.preview.find_all_by_product_id(product.id) %>
    <%= render :partial => 'review', :locals => {:review => review} %>
  <% end %>

  <div class="ui-buttons">
    <%= link_to("<span class=\"ui-icon ui-icon-comment\"></span>" + t('write_your_own_review'),  {:controller => 'reviews', :action => 'submit', :id => product.id}, :class => 'ui-button ui-state-default ui-corner-all') %>
  </div>

</div>

